{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>ALPR demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "css/theme.css" %}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<header class ="header1 container" style="background: #191970; color: white; width: 100%;">
    <h3><center>Automatic License Plate Recognition Demo</center></h3>
    </header>
<!--nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Section 1</a></li>
          <li><a href="#section2">Section 2</a></li>
          <li><a href="#section3">Section 3</a></li>
          <li><a href="#section4">Section 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav-->    

<div id="section1" class="container">
      <!--div class = "row" style="margin-left: 200px; margin-top: 50px;"></div-->
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
  <label> Choose File
    <input type="file" size="60" name="img">
    </label> 
  <button id="myBtn" style="margin-left: 500px;" type="submit">Process File</button>
</form>
</div>

    <div class= "row" style="margin-top: -300px;">
 
  <div class="column">
    {% if up %}
    <h4 style="color: black; margin-left: 160px;">Input Image</h4>
    <img src="{{up}}" style="width: 400px;  border: 2px solid black;">
    {% endif %}
  </div>
  <div class="column">
    {% if pred %}
           <h4 style="color: black; margin-left: 120px; ">Cropped Image</h4>
    <img src="{{pred}}" style="width: 150px; margin-left: 110px; margin-top: 80px; border: 2px solid black;">
    {% endif %}
  </div>
  <div class="column">
    {% if preproc %}
  <h4 style="color: black; margin-left: 40px;">Preprocessed Image</h4>
    <img src="{{preproc}}" style="width: 150px; margin-left: 50px; margin-top: 80px; border: 2px solid black;">
    {% endif %}
  </div>

        <div class = "column">
          {% if no %}
            <h4 style="color: black; margin-left: 100px;">Output text</h4>
    <textarea id="textar" name="textar" rows="10" cols="40">
      {{no}}
  </textarea>
  {% endif %}
        </div>
    </div>
    </div>
  
<!-- The Modal >
<div id="myModal" class="modal">

  < Modal content >
  <div class="modal-content">
      <div class= "row">
          <div class = "column">
          

    <span class="close">&times;</span>
   <button id="myBtn1">Browse</button>
     <button id="myBtn1">Process File</button>
</div>
</div>
</div>
</div>

    
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script-->


</body>
</html>
